body {
    background: image_url('bg_hikes.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: white;
    text-align: center;
    font-size: 100px;
    text-shadow: 2px 2px #ff0000;
    
}


